html {
  background-size: cover;
}
body {
  background-image: url("https://i.imgur.com/k6h5HVt.png");
  background-size: cover;
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-position: left top;
  font-family: 'Times New Roman', Times, serif;

}

.ui-cards {
  -webkit-font-smoothing: antialiased;
  display: grid;
  grid-template-columns: 100% 100% 100%; 
  column-gap: 10px;
  row-gap: 10px;
  width: 260px;
}

.ui-cards img {
  width: auto;
  height: 120px;
  padding: 10px;
  float: right;
  padding-top: 20px;
}

.ui-cards h4{
  font-size: 20px;
  text-transform: capitalize;
  position: absolute;
  padding: 10px;
  align-self: left;
  margin-left: 36px;
}

.ui-cards p {
  padding: 10px;
  position: absolute;
  font-size: 15px;
}

.ui-cards li {
  position: relative;
  font-size: 15px;
  margin-top: -50px;
  list-style-type: none;
  margin-left: -20px;
}

.image {
  width: auto;
  height: 120px;
  z-index: 2;
}

#container{
  background-color: none;
  margin-top: -20px;
  width: 50%;
  margin: 0 auto;
}

.favButton {
  width: 25px;
  height: 25px;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  border-color: white;
  border-style: none;
  text-align: left;
  z-index: 4;
}
.favouritePokemon {
  width: 50px;
  height: 50px;
}

.trainerID {
  float: right;
}

.lockin {
  height: 40px;
  width: 100px;
  top: 60px;
  right: 10px;
  border-radius: 10px;
  opacity: 0.7;
  position: absolute;
}

.deleteFav {
  height: 27px;
  width: 80px;
  top: 100px;
  right: 10px;
  border-radius: 10px;
  opacity: 0.7;
  position: absolute;
}

#favourite1 {
  margin-top: 50px;
  margin-left: 10px;
  height: 60px;
  width: 60px;
}
